.rules__header{
	text-align: center;
}

main {
	background-image: url(../../assets/masonjars.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
}


.overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(113,151,91,.8);
}


.main label {
	text-transform: uppercase;	
}
.rules__container{
	bottom: 5%;
	justify-content: space-around;
	margin: 0 auto;
}

.rules-left, .rules-right {
	width:45%;
	padding: 3%;
	margin-top:2%;
	background: rgba(255, 205, 73, 0.6);
}

.rules-right{
	position: relative;
}

.rules-h2{
	padding-bottom: 10px;
}

.rules-list{
	margin: 0;
	li{
		margin-bottom: 15px;
		font-size: 20px;
		font-weight: 300;
	}
}

.play__button{
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
}

