article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

.wrapper {
  max-width: 1170px; }

body {
  font-family: 'Montserrat', sans-serif; }

.flex {
  display: flex; }

.landing__video-container {
  z-index: -100;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  background: rgba(0, 0, 0, 0.8); }
  .landing__video-container .overlay {
    border: 1px solid red; }
  .landing__video-container .landing__video-header {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 100;
    text-align: center;
    color: white; }
  .landing__video-container video {
    position: absolute;
    top: 0;
    right: 0;
    left: -30%;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    margin: 0 auto; }

.landing__button {
  background: rgba(225, 225, 225, 0.3);
  border: 3px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.2px;
  padding: 15px 55px; }

h1 {
  font-size: 130px;
  text-transform: uppercase;
  margin: 40px 0;
  font-weight: 600;
  letter-spacing: 1.5px; }

h2 {
  font-weight: 200;
  font-size: 30px; }

.rules {
  height: 100vh; }

.main label {
  text-transform: uppercase; }

.player__selections wrapper {
  height: 100vh; }

.player__question-container {
  background: red;
  height: 100vh;
  display: flex; }
